<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
	<listeners>
		<listener class-name="framework.main.listeners.MakingScreenshotListener" />
	</listeners>
	<parameter name="path" value="C:\Users\Valiantsina_Yerakhavets@epam.com\Tasks\Framework\screens" />
	<parameter name="settings" value="https://mail.google.com/mail/u/0/#settings" />
	<test name="Forward" >
		<classes>
			<class name="test.ForwardTest" />
		</classes>
	</test>
</suite>
